<body class="profile_card">
  <div class="column">
    <div class="avatario avatario-large">
      <img src="/assets/profile_card/avatar_exmp.png" alt="Usuário" class="avatario-image">
      <img src="/assets/profile_card/frame_exmp.png" alt="Moldura" class="avatario-frame animio-spin">

    </div>
    <button class="btn"><b>+</b>&#8195;Deposit</button>
  </div>

  <!-- <div class="column">
    <div class="border"><img src="/assets/avatar_exmp.png" alt="" class="avatar"></div>

  </div> -->
  <div class="column">
    <div class="player_info">
      <p class="name">Paul</p>
      <p class="status">In game</p>
      <p class="money">1,250,870 🪙</p>
    </div>
    <button class="btn"><b>&#8599;</b>&#8195;Withdraw</button>
  </div>
  <div class="column">
    <div class="funds">
      <div>
        <img src="/assets/profile_card/ton_logo.png" alt="">
        <p class="ton">0.00 TON</p>
      </div>
      <div>
        <img src="/assets/profile_card/dur_logo.png" alt="">
        <p class="ton">0.00 DUR</p>
      </div>

      <p class="usd">0.00 USDT</p>
    </div>
    <button class="btn"><b>&#8593;&#8595;</b>&#8195;Exchange</button>
  </div>
</body>
