<body class="profile_card">
  <div class="column1">
    <p class="title">Premium</p>
    <p class="advert"><s>60 TON/year</s>&nbsp;45&nbsp;TON/year</p>
  </div>
  <div class="column">
    <div class="percentage">
      <p>-25%</p>
    </div>
    <img src="/assets/main_page/star_advert_banner.png" alt="" class="star">
  </div>
  <div class="column">
    <img src="/assets/main_page/card_advert_banner.png" alt="" class="card">
  </div>
  <div class="column2">
    <img src="/assets/main_page/star_advert_banner.png" alt="" class="star1">
    <img src="/assets/main_page/star_advert_banner.png" alt="" class="star2">
  </div>
</body>

