.menu_bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2%;
  margin-bottom: 2%;
  border-radius: 10% / 25%;
  width: 96%;
  height: 82px;
  background-color: var(--menu-back-color);

}

.main_page {
  background-color: var(--back-color);
  background-size:100% 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  gap: auto;
}

p {
  color: var(--font-color);
  font-size: 4vw;
  margin-top: -32%;
  text-align: center;
  margin-left: 10%;
}

.profile {
  margin-top: -35%;
}

.earn {
  margin-top: -30%;
}

.market {
  margin-top: -31%;
}


.menu_button_menu {
  background-image: url('/assets/menu/menu_menu.png') ;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 3px;
  width: 100%;
  height: 90%;
}

.menu_button_menu_active {
  background-image: url('/assets/menu/menu_menu.png');
  filter: brightness(50%);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 3px;
  width: 100%;
  height: 90%;
}

.menu_button_games {
  background-image: url('/assets/menu/games_menu.png') ;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 3px;
  width: 100%;
  height: 90%;
}

.menu_button_games_active {
  background-image: url('/assets/menu/games_menu.png') ;
  filter: brightness(50%);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 3px;
  width: 100%;
  height: 90%;
}

.menu_button_profile {
  background-image: url('/assets/menu/profile_menu.png') ;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 5px;
  width: 100%;
  height: 90%;
}

.menu_button_profile_active {
  background-image: url('/assets/menu/profile_menu.png') ;
  filter: brightness(50%);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 5px;
  width: 100%;
  height: 90%;
}

.menu_button_earn {
  background-image: url('/assets/menu/earn_menu.png');
  background-size: 40% 40%;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;


  margin: 3px;
  width: 100%;
  height: 90%;
}

.menu_button_earn_active {
  background-image: url('/assets/menu/earn_menu.png');
  filter: brightness(50%);
  background-size: 40% 40%;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;


  margin: 3px;
  width: 100%;
  height: 90%;
}

.menu_button_market {
  background-image: url('/assets/menu/market_menu.png') ;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 3px;
  width: 100%;
  height: 90%;
}

.menu_button_market_active {
  background-image: url('/assets/menu/market_menu.png') ;
  filter: brightness(50%);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;

  margin: 3px;
  width: 100%;
  height: 90%;
}
