.layout {
  display: grid;
  grid-template-columns: 20% 50% 10% 10% 10%;
  width: 96%;
  height: fit-content;
  max-height: 50px;
  margin: 5px 2%;
  background-color: var(--game-line-color);
  border-radius: 5% / 20%;
}

p {
  vertical-align: middle;
  margin: 8px 0;
  font-size: 4vw;
  text-align: center;
  color: var(--font-color);
  font-weight: 550;
}

.creator {
  color: #ADADAD;
  font-weight: 500;
}

.arrow {
  margin: 2px 0;
  font-size: 5vw;
}

.enter {
  margin: 0.7vw 0 0 0;
  font-size: 5vw;
}
