<body class="layout">
  <app-profile-card></app-profile-card>
  <div class="inventary">
    <div class="object"><img src="/assets/profile_page/outer_card_exmp.png" alt=""></div>
    <div class="object"><img src="/assets/profile_page/frame_exmp.png" alt=""></div>
    <div class="object"><img src="/assets/profile_page/inner_card_exmp.png" alt=""></div>
    <div class="object"><img src="/assets/profile_page/icon_exmp.png" alt=""></div>
  </div>
  <app-advert-banner></app-advert-banner>
  <div class="friends">
    <app-friend-block></app-friend-block>
    <app-friend-block></app-friend-block>
  </div>

</body>

